.exp-card-left{

}

.exp-card-right{
  right: 10rem;
}

.cover{
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  width: 18.75rem;

}

.cover:hover{
  transform: scale(1.05);
}

.image{
  width: 11.25rem;
  margin-left: 3.5rem;
}

@media (max-width: 500px) {
  .cover{
    width: 9rem;
  }
  .image{
    width: 6rem;
    margin-left: 1.25rem;
    
  }
  .description{
    font-size: 0.6rem;
  } 
  .exp-card-right{
    right: 4rem;
  }
}